#profileuser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  padding: 5rem 0;
}

#profileuser .content h2 {
  margin: 1rem 0;
  border-bottom: 1px solid gainsboro;
}

#profileuser .content article,
.products-profile {
  margin-top: 2rem;
}

#profileuser .content article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}
