.cart-container {
  display: flex;
  justify-content: space-around;
  min-height: 80vh;
}

.tabs-products {
  height: 100%;
  margin: 2rem;
}

.owner-tabs {
  display: flex;
  margin-top: 1rem;
}

.tab {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: #f0f0f0; /* Color de fondo para pestañas inactivas */
  margin-right: 8px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.cart-summary {
  padding: 1rem;
  width: 500px;
  margin: 2rem;
}

.card-container {
  min-width: 700px;
  max-height: 400px; /* Set a maximum height for the card container */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Optional: padding inside the card container */
  border-radius: 5px; /* Optional: rounded corners */
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.card-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.card-container::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background color of the track */
  border-radius: 5px; /* Optional: rounded corners for the track */
}

.card-container::-webkit-scrollbar-thumb {
  background: rgb(161, 161, 161); /* Color of the scrollbar thumb */
  border-radius: 5px; /* Optional: rounded corners for the thumb */
}

.card-container::-webkit-scrollbar-thumb:hover {
  background: black; /* Color of the scrollbar thumb on hover */
}

.cart-summary-1 div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.cart-summary-1 div p:nth-child(2) {
  margin-left: 0.5rem;
  font-weight: 600;
}

.cart-summary-2 p:nth-child(1) {
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 1rem;
  border-top: 1px solid gainsboro;
}

.cart-summary-2 p:nth-child(2) {
  color: grey;
}

.total-price {
  font-size: 1.5rem;
}

.proceed-to-payment {
  background-color: black;
  padding: 1rem 0.5rem;
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: white;
  font-size: 1rem;
  border-radius: 0.5rem;
}

.proceed-to-payment:hover {
  background-color: rgb(235, 163, 115);
  color: black;
  transition: 0.2s ease-in-out;
}

.tab.active {
  background-color: black; /* Color de fondo para la pestaña activa */
  color: white; /* Color de texto para la pestaña activa */
}

@media (max-width: 768px) {
  .cart-container {
    flex-direction: column;
  }

  .card-container {
    min-width: 100%;
    margin: 0rem;
  }

  .cart-summary {
    margin: 1rem 0;
    width: 100%;
    padding: 0.5rem;
  }

  .proceed-to-payment {
    background-color: black;
    padding: 12px 16px;
    font-size: 1rem;
  }

  .tabs-products {
    margin: 0.5rem;
  }

  .tab {
    font-size: 0.8rem;
    padding: 5px 8px;
  }

  .cart-container h2 {
    margin-top: 2rem;
  }
}
