.entrepreneurs-page {
  text-align: center;
}

.entrepreneurs-page .scrolling-content h1 {
  margin-right: 10rem;
}

.entrepreneur-cards-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  max-width: 90%;
  padding: 2rem 0;
}
